<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-product</title>
</head>
<body>


    <h2>Add a new product</h2>

    <form action="/add-product" method="post">
            <p>Name:</p><input name="name">
            <p>Year:</p><input name="year">
            <p>Genre:</p><input name="genre">
            <p>Price:</p><input name="price">
            <p>Image (URL):</p><input name="image">
            <p>Text:</p><input name="text">
            <br>
        <button type="submit">OK</button>
    </form>

</body>
</html>