<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div id="top">
      <button class="top-button">ADD NEW PRODUCT</button>
      <button class="top-button">MANAGING ORDERS</button>
    </div>
    <br><br><br><br>
    <!-- { for movie in list }
      <div class="cubicle">
        <img src="{ movie.image_path }">
        <p>{ movie.title }</p>
        <form method="post" action="/edit/<movie_id>"
          <button>EDIT</button>
        </form>
        <form method="post" action="/delete/<movie_id>"
          <button>DELETE</button>
        </form>
      </div> -->
    <!-- EXAMPLES BELOW -->
    <div class="cubicle">
      <img src="/assets/images/zootopia_s.png">
      <p>Zootopia</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/jupiter_ascending_s.png">
      <p>Jupiter Ascending</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/krampus_s.png">
      <p>Krampus</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/the_pursuit_of_happyness_s.png">
      <p>The Pursuit Of Happyness</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/suicide_squad_s.png">
      <p>Suicide Squad</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/the_angry_birds_movie_s.png">
      <p>The Angry Birds Movie</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/zootopia_s.png">
      <p>Zootopia</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/jupiter_ascending_s.png">
      <p>Jupiter Ascending</p>
      <button>EDIT</button>
      <button>DELETE</button>    
    </div>
    <div class="cubicle">
      <img src="/assets/images/krampus_s.png">
      <p>Krampus</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/the_pursuit_of_happyness_s.png">
      <p>The Pursuit Of Happyness</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/suicide_squad_s.png">
      <p>Suicide Squad</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/the_angry_birds_movie_s.png">
      <p>The Angry Birds Movie</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/zootopia_s.png">
      <p>Zootopia</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/jupiter_ascending_s.png">
      <p>Jupiter Ascending</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/krampus_s.png">
      <p>Krampus</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/the_pursuit_of_happyness_s.png">
      <p>The Pursuit of Happyness</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/suicide_squad_s.png">
      <p>Suicide Squad</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>
    <div class="cubicle">
      <img src="/assets/images/the_angry_birds_movie_s.png">
      <p>The Angry Birds Movie</p>
      <form>
        <button>EDIT</button>
      </form>
      <form>
        <button>DELETE</button>
      </form>
    </div>    
  </body>
</html>