<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Confirm Shipment</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="top">
      <button class="top-button">ADD NEW PRODUCT</button>
      <button class="top-button">ADMIN DASHBOARD</button>
    </div>
    <br><br><br>
    <div id="lower-top">
      <button class="lower-top-button">IN PROGRESS</button>
      <button class="lower-top-button">COMPLETED</button>
    </div>
    <br>
      <p id="are-you-sure">Please confirm your action by clicking the button below.</p>
    <form method="post" action="#">
      <button type="submit" id="confirm-shipment">YES, SHIP IT</button>
    </form>
  </body>
</html>