<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ product.name }} - Remove</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body id="new-product">
    <div id="top">
      <button class="top-button">ADMIN DASHBOARD</button>
      <button class="top-button">MANAGING ORDERS</button>
    </div>
    <br><br><br><br><br>
    <form action="/delete-product/{{ product.key.id() }}" method="post" id="new-product">
      <div class="info-holder">
        <!-- <img src="{{ product.image }}" -->
        <img src="images/jupiter_ascending.png">
      </div>
      <div class="info-holder">
        <p>You are about to delete:</p>
        <!-- <p>{{ product.name }}</p> -->
        <p>JUPITER ASCENDING</p>
        <p>Click the button below to confirm!</p>
        <button id="delete" type="submit">REMOVE PRODUCT</button>
        <br><br>
      </div>
    </form>
</body>
</html>