<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BLURTZ - stop, shop &amp; watch</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Rock+Salt"> 
  </head>
  <body>
    <div id="header">
      <div id="logo-placeholder">
        <h1>BLURTZ</h1>
        <h4>This is sirius business.</h4>
    </div>
    <a href="#">
      <div class="nav-button">
        <p>Main Page</p>
      </div>
    </a>
    <!-- {% if user %} -->
    <a href="#">
      <div class="nav-button">
        <p>Shopping Cart</p>
      </div>
    </a>
        <a href="#">
      <div class="nav-button">
        <p>User Options</p>
      </div>
    </a>
    <a href="#">
      <div class="nav-button">
        <p>History</p>
      </div>
    </a>
    <!-- {% if user.admin %} -->
    <a href="#">
      <div class="nav-button">
        <p>Admin Dashboard</p>
      </div>
    </a>
    <!-- {% endif %} -->
    <!-- {% endif %} -->
    <!-- {% if user %}
    <a href="#">
      <div class="nav-button" id="special-nav-button">
        <p>Logout</p>
      </div>
    </a> -->
    <!-- {% else %} -->
    <a href="#">
      <div class="nav-button" id="special-nav-button">
        <p>Login</p>
      </div>
    </a>
    </div>
    <div id="main">
      <div class="ads">
        <a href="#"><img src="images/advertisement.png"></a>
      </div>
      <div id="content">
        <form id="filtering">
          <p>Filter movies by genre:
            <select>
              <option>All of them</option>
              <option value="action">Action</option>
              <option value="Adventure">Adventure</option>
              <option value="comedy">Comedy</option>
              <option value="fantasy">Fantasy</option>
              <option value="horror">Horror</option>
              <option value="sci-fi">Sci-Fi</option>
            </select>
          </p>
          <p>Filter movies by year:
            <select>
              <option>All of them</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
              <option value="2014">2014</option>
              <option value="2013">2013</option>
              <option value="2012">2012</option>
              <option value="2011">2011</option>
              <option value="2010">2010</option>
            </select>
          </p>
          <a href="#">
            <button type="submit" class="nav-button" id="filter-search">
              <p>Search</p>
            </button>
          </a>
        </form>
        <div id="movies">
          <a href="#">
            <img src="images/suicide_squad.png">
          </a>
          <a href="#">
            <img src="images/zootopia.png">
          </a>
          <a href="#">
            <img src="images/the_angry_birds_movie.png">
          </a>
          <a href="#">
            <img src="images/krampus.png">
          </a>
          <a href="#">
            <img src="images/jupiter_ascending.png">
          </a>
          <a href="#">
            <img src="images/the_pursuit_of_happyness.png">
          </a>
        </div>
      </div>
      <div class="ads" id="right">
        <a href="#"><img src="images/advertisement.png"></a>
      </div>
    </div>
    <div id="footer">
      <div id="address">
        <p>BLURTZ - Online Movie Marketing<br>
        1932 Lodgeville Road<br>
        Jamestown<br>
        Rhode Island<br>
        02835<br>
        Phone: 612-303-7435</p>
      </div>
      <div id="copyright">
        <p>&copy; 2016 Blurtz</p>
      </div>
      <div id="faq">
        <a href="#">About Us</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
        <a href="#">Employment</a>
      </div>
    </div>
  </body>
</html>