<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BLURTZ - stop, shop &amp; watch</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css">
    <link type="image/x-icon" rel="shortcut icon" href="/assets/images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Rock+Salt"> 
  </head>
  <body>
    <div id="header">
      <div id="logo-placeholder">
        <h1>BLURTZ</h1>
        <h4>This is sirius business.</h4>
      </div>
      <a href="#"><div id="login-logout">
        <p>Login</p>
      </div></a>
      <div id="welcome">
        <p>Welcome, random stranger.</p>
      </div>
      <a href="#"><div id="shopping-cart">
        <img src="/assets/images/cart.png">
      </div></a>
    </div>
    <div id="main">
      <div class="ads">
        <a href="#"><img src="/assets/images/advertisement.png"></a>
      </div>
      <div id="content">
        <div id="navlinks">
          <a href="#">ACTION</a><br>
          <a href="#">ADVENTURE</a><br>
          <a href="#">COMEDY</a><br>
          <a href="#">CRIME</a><br>
          <a href="#">DRAMA</a><br>
          <a href="#">HISTORICAL</a><br>
          <a href="#">HORROR</a><br>
          <a href="#">MUSICALS</a><br>
          <a href="#">SCI-FI</a><br>
          <a href="#">WAR</a><br>
          <a href="#">WESTERNS</a><br>
        </div>
        <div id="movies">
          <br>
          <!--<a href="#" target="_blank"><img src="/assets/images/suicide_squad_s.png"></a>
          <a href="#" target="_blank"><img src="/assets/images/zootopia_s.png"></a>
          <a href="#" target="_blank"><img src="/assets/images/the_angry_birds_movie_s.png"></a>
          <a href="#" target="_blank"><img src="/assets/images/krampus_s.png"></a>
          <a href="#" target="_blank"><img src="/assets/images/jupiter_ascending_s.png"></a>
          <a href="#" target="_blank"><img src="/assets/images/the_pursuit_of_happyness_s.png"></a>-->
        </div>
      </div>
      <div class="ads" id="right">
        <a href="#"><img src="/assets/images/advertisement.png"></a>
      </div>
    </div>
    <div id="footer">
      <div id="address">
        <p>BLURTZ - Online Movie Marketing<br>
        1932 Lodgeville Road<br>
        Jamestown<br>
        Rhode Island<br>
        02835<br>
        Phone: 612-303-7435</p>
      </div>
      <div id="copyright">
        <p>&copy; 2016 Blurtz</p>
      </div>
      <div id="faq">
        <a href="#">About Us</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
        <a href="#">Employment</a>
      </div>
    </div>
  </body>
</html>
