<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{product.name}} - BLURTZ</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Rock+Salt">
  </head>
  <body>
    <div id="header">
      <div id="logo-placeholder">
        <h1>BLURTZ</h1>
        <h4>This is sirius business.</h4>
      </div>
       <a href="#">
      <div class="nav-button">
        <p>Main Page</p>
      </div>
    </a>
    <!-- {% if user %} -->
    <a href="#">
      <div class="nav-button">
        <p>Shopping Cart</p>
      </div>
    </a>
        <a href="#">
      <div class="nav-button">
        <p>User Options</p>
      </div>
    </a>
    <a href="#">
      <div class="nav-button">
        <p>History</p>
      </div>
    </a>
    <!-- {% if user.admin %} -->
    <a href="#">
      <div class="nav-button">
        <p>Admin Dashboard</p>
      </div>
    </a>
    <!-- {% endif %} -->
    <!-- {% endif %} -->
    <!-- {% if user %}
    <a href="#">
      <div class="nav-button" id="special-nav-button-2">
        <p>Logout</p>
      </div>
    </a> -->
    <!-- {% else %} -->
    <a href="#">
      <div class="nav-button" id="special-nav-button-2">
        <p>Login</p>
      </div>
    </a>
    </div>
    <div id="main">
      <div class="ads">
        <a href="#"><img src="images/advertisement.png"></a>
      </div>
      <div id="content">
        <div id="left-side">
          <br>
          <!-- <img src="{{ product.image }}"> -->
          <img src="images/jupiter_ascending.png">
          <!-- <p>{{ product.price }}</p> -->
          <p>$7.99</p>
          <div id="icons">
            <a href="#">
              <div>
                <img src="images/previous.png">
              </div>
            </a>
            <!-- {% if user %} -->
            <form method="post" action="/cart" id="add-to-cart-form">
              <a href="#"><div>
                <img src="images/add_to_cart.png">
              </div></a>
            </form>
            <!-- {% endif %} -->
            <a href="#"><div>
              <img src="images/next.png">
            </div></a>
          </div>
        </div>
        <div id="right-side">
          <!-- <h1>{{ product.name }} -->
          <h1>JUPITER ASCENDING</h1>
          <!-- <p>{{ product.text }}</p> -->
          <p>Jupiter Jones was born under a night sky, with signs predicting that she was destined for great things. Now grown, Jupiter dreams of the stars but wakes up to the cold reality of a job cleaning other people's houses and an endless run of bad breaks. Only when Caine Wise, a genetically engineered ex-military hunter, arrives on Earth to track her down does Jupiter begin to glimpse the fate that has been waiting for her all along - her genetic signature marks her as next in line for an extraordinary inheritance that could alter the balance of the cosmos.</p>
        </div>
      </div>
      <div class="ads" id="right">
        <a href="#">
          <img src="images/advertisement.png">
        </a>
      </div>
    </div>
    <br>
    <div id="footer">
      <div id="address">
        <p>BLURTZ - Online Movie Marketing<br>
        1932 Lodgeville Road<br>
        Jamestown<br>
        Rhode Island<br>
        02835<br>
        Phone: 612-303-7435</p>
      </div>
      <div id="copyright">
        <p>&copy; 2016 Blurtz</p>
      </div>
      <div id="faq">
        <a href="#">About Us</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
        <a href="#">Employment</a>
      </div>
    </div>
  </body>
</html>