<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Options - BLURTZ</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Rock+Salt">
  </head>
  <body>
    <div id="header">
      <div id="logo-placeholder">
        <h1>BLURTZ</h1>
        <h4>This is sirius business.</h4>
      </div>
       <a href="#">
      <div class="nav-button">
        <p>Main Page</p>
      </div>
    </a>
    <!-- {% if user %} -->
    <a href="#">
      <div class="nav-button">
        <p>Shopping Cart</p>
      </div>
    </a>
    <a href="#">
      <div class="nav-button">
        <p>User Options</p>
      </div>
    </a>
    <a href="#">
      <div class="nav-button">
        <p>History</p>
      </div>
    </a>
    <!-- {% if user.admin %} -->
    <a href="#">
      <div class="nav-button">
        <p>Admin Dashboard</p>
      </div>
    </a>
    <!-- {% endif %} -->
    <!-- {% endif %} -->
    <!-- {% if user %}
    <a href="#">
      <div class="nav-button" id="special-nav-button-2">
        <p>Logout</p>
      </div>
    </a> -->
    <!-- {% else %} -->
    <a href="#">
      <div class="nav-button" id="special-nav-button">
        <p>Login</p>
      </div>
    </a>
    </div>
    <div id="main">
      <div class="ads">
        <a href="#"><img src="images/advertisement.png"></a>
      </div>
      <div id="content">
        <!-- {% if user %} -->
        <h1>Delivery Information</h1>
        <form>
          <table>
            <tr>
              <td>NAME: </td>
              <td><input value="{{ user.name }}" placeholder="Enter your name." required></td>
            </tr>
            <tr>
              <td>SURNAME: </td>
              <td><input value="{{ user.surname }}" placeholder="Enter your surname." required></td>
            </tr>
            <tr>
              <td>ADDRESS LINE 1: </td>
              <td><input value="{{ user.address-line1 }}" placeholder="Enter your home address." required></td>
            </tr>
            <tr>
              <td>ADDRESS LINE 2: </td>
              <td><input value="{{ user.address-line2 }}" placeholder="Not required."></td>
            </tr>
            <tr>
              <td>CITY: </td>
              <td><input value="{{ user.city }}" placeholder="Enter your home city." required></td>
            </tr>
            <tr>
              <td>ZIP CODE: </td>
              <td><input value="{{ user.zipcode }}" placeholder="Enter your zip code." required></td>
            </tr>
            <tr>
              <td>COUNTRY: </td>
              <td><input value="{{ user.country }}" placeholder="Enter your home country." required></td>
            </tr>
          </table>
          <button type="submit" class="nav-button">
            <p>Accept Changes</p>
          </button>
        </form>
        <!-- {% else %}
          <p>You need to be logged in to access this site.</p>
        {% endif %} -->
      </div>
      <div class="ads" id="right">
        <a href="#">
          <img src="images/advertisement.png">
        </a>
      </div>
    </div>
    <div id="footer">
      <div id="address">
        <p>BLURTZ - Online Movie Marketing<br>
        1932 Lodgeville Road<br>
        Jamestown<br>
        Rhode Island<br>
        02835<br>
        Phone: 612-303-7435</p>
      </div>
      <div id="copyright">
        <p>&copy; 2016 Blurtz</p>
      </div>
      <div id="faq">
        <a href="#">About Us</a>
        <a href="#">Terms</a>
        <a href="#">Contact</a>
        <a href="#">Employment</a>
      </div>
    </div>
  </body>
</html>